<div class="job-container">
    <div class="job-wrapper">
        <div class="job-item first-column">
            <img class='logo' src="{{job.companyLogo}}">
        </div>
      <div class="job-item second-column" (click)="jobClicked(job.id)">
        <h3>{{job.title}}</h3>
        <p>Company: {{job.companyName}} Reference: {{job.reference}}</p>
      </div>
      @if (showFavorite) {
        <div class="job-item third-column" (click)="addToFavorites(job.id)">
            <span class="normal-star" [className]="addedToFavorites ? 'favorite-star':'normal-star'" id="star-{{job.id}}"></span>
        </div>
        }
    </div>
</div>