/*
Move the main contaniner to center page using grid with center
*/
.job-container {
  display: grid;
  place-items: center;
}

/*
Create a grid to show each job item
*/
.job-wrapper {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: subgrid;
  place-items: center;
  width: 50vw;
  justify-items: first baseline;
}

/*
Job item
*/
.job-item {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
}

.first-column {
  grid-row: 1;
  grid-column: 1;
}

.second-column {
  grid-row: 1;
  grid-column: 2;
}

.third-column {
  grid-row: 1;
  grid-column: 3;
}
