.job-wrapper {
  display: grid;
  place-items: center;
}

.job-item {
  background-color: #ccc;
  color: #444;
  cursor: pointer;
}

.d {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: subgrid;
  place-items: center;
  width: 50vw;
  justify-items: first baseline;
}

.e {
  grid-row: 1;
  grid-column: 1;
}

.f {
  grid-row: 1;
  grid-column: 2;
}

.g {
  grid-row: 1;
  grid-column: 3;
}
